<!--
  Generated template for the CronometroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cronômetro</ion-title>
  </ion-navbar>

</ion-header>


<!--initialTimeInSeconds >= 0-->
<!--(initialTimeInSeconds > 0 || initialTimeInSeconds == 0)-->
<ion-content padding *ngIf="timer && initialTimeInSeconds >= 0">
Cronômetro do bloco {{letra}}{{num.key}}


<ion-card>

	<ion-card-header>
    <!--tive que tirar algumas coisas daqui, senão não funciona direito para o cronômetro contando para
    frente, e não para trás como anteriormente-->
		<button ion-button id="cronometro" *ngIf="initialTimeInSeconds >= 0" large block clear color="dark" class="timer-button x-large">{{timer.displayTime}}</button>
		<button ion-button *ngIf="initialTimeInSeconds < 0" large block clear class="timer-button">Timer set up incorrectly</button>
	</ion-card-header>

</ion-card>

<!--
<ion-item *ngIf="timeInSeconds && timeInSeconds > 0">
-->

  <!--
  item-start
  item-end
-->

<!--'initTimer()' será chamado dentro da função 'confirmar()'-->
  <button ion-button clear block class="large" color="danger" (click)="confirmar()" *ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished">
          <ion-icon name="refresh"></ion-icon>
          Reiniciar
      </button>

  <button ion-button clear block class="large" color="dark" (click)="pauseTimer()" *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished">
          <ion-icon name="pause"></ion-icon>
          Pausar
      </button>

  <button ion-button clear block class="large" color="dark" (click)="resumeTimer()" *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished">
          <ion-icon name="play"></ion-icon>
          Continuar
      </button>

  <button ion-button clear block class="large" color="dark" (click)="startTimer()" *ngIf="!timer.hasStarted">
          <ion-icon name="play"></ion-icon>
          Iniciar
      </button>

<!--
</ion-item>
-->

<!--Adicionando botão para gravar o tempo-->
<button ion-button clear block class="large" color="dark" (click)="gravarTempo()" *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished">
   <ion-icon name="document"></ion-icon>
   Finalizar
</button>



</ion-content>
