
<ion-header>

  <ion-navbar>
    <ion-title>Lista de Blocos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

   <!--ESTA LISTA TEM A VANTAGEM DE NÃO TER DEIXADO ESPAÇOS EM BRANCO NO MEU CELULAR-->
   <ion-list>
    <!--
    <ion-item *ngFor="let item of items; let i=index" text-wrap (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}">
    -->

    <!--Abaixo está funcionando a obtenção das LETRAS do servidor-->
    <ion-item *ngFor="let letra of letraList | async; let i=index" text-wrap (click)="toggleLevel1('idx'+i);listarNumeros(('idx'+i), letra.key)" [ngClass]="{active: isLevel1Shown('idx'+i)}">

      <h4>
        Estágio {{letra.key}}
        <ion-icon color="success" item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
      </h4>

      <ion-list *ngIf="isLevel1Shown('idx'+i)">
        <!--<ion-item *ngFor="let s of p.subs; let i2=index" text-wrap (click)="toggleLevel2('idx'+i+'idx'+i2)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}"> -->
        <ion-item *ngFor="let num of numList | async; let i2=index" text-wrap (click)="itemSelected(letra.key, num)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}">

          <h4>
            
              Bloco {{letra.key}}{{num.key}}, {{num.temaBloco}}        
              
              <!--
                {{displayTime(item, item2, blocosFeitos)}} {{blocosFeitos.(item.id+item2.id).displayTime?blocosFeitos.(item.id+item2.id).displayTime:""}} 
              -->
              
              <!--
            <ion-icon color="success" item-right [name]="isLevel2Shown('idx'+i+'idx'+i2) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
          -->
          </h4>


       <!--
          <ion-list *ngIf="isLevel2Shown('idx'+i+'idx'+i2)">
            <ion-item *ngFor="let m of s.manufactures" text-wrap>
              {{m.manufacture}}
            </ion-item>
          </ion-list>
        -->

        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>

</ion-content>
