
<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>
      <!--NOTA: NÃO ESTÁ EXPANDINDO CORRETAMENTE NO MEU CELULAR, NÃO SEI SE É POR CAUSA DO APLICATIVO DO IONIC!!!-->
      <ion-item detail-none (click)="expandItem(item)" ion-item *ngFor="let item of items"> <!--Aqui alterei
        de <button> para <ion-item>, uma vez que a seleção de um botão é prioritária sobre a selecao de um item;
        também, caso eu queira selecionar um botao dentro de outro, a selecao do botao externo sempre sera
        prioritaria (O QUE IMPLICA QUE NUNCA CONSEGUIREI SELECIONAR O BOTÃO INTERNO). Daí a necessidade de se colocar
        um BOTAO DENTRO DE UM ITEM, E NÃO UM BOTÃO DENTRO DE OUTRO-->

        <!--
        <ion-thumbnail item-start>
          <img src="http://placehold.it/100">
        </ion-thumbnail>
      -->
        <button class="specific-button" ion-button clear full color="dark">
        <h3>{{item.text}}</h3>
      </button>
        <!--
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki • 1988</p>
      -->

        <!--
        <button ion-button clear item-end>View</button>
      -->


        <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">

          <ion-list>
            <button ion-item *ngFor="let item2 of items2" (click)="itemSelected(item, item2)">
              {{item.text}}{{item2.id}}
            </button>
          </ion-list>


        </expandable>

      </ion-item>




    </ion-list>

</ion-content>
